.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        min-width: 600px;
        background-color: red;
    }
}